<app-vavbar></app-vavbar>
<div class="home-container d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-section">
                <p class="welcom-text">Welcome to ClinicIQ</p>
                <h1 class="main-title">
                    Taking Care Of <br> your Health is Our <br> Top Priority
                </h1>

                <p class="description">
                     Being healthy is more than just not getting sick. It entails physical,
                     and social well-being. It's not just about treatment, it's about healing.
                </p>

                <button class="btn btn-login" routerLink="/auth/login">Login</button>
            </div>
        </div>
    </div>
</div>